* {
    box-sizing: border-box
}
body {
    background-image: url(../images/cave.png);
    background-color: LightSteelBlue;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* text-align: center; */
}
#page-title {
    font-family: 'Bungee', cursive;
    color: white;
    text-shadow: 5px 5px black;
    font-size: 4.5vw;
    text-align: center;
}
#rules {
    background: powderblue;
    width: 20vw;
    height: 55vh;
    font-size: 1.3vw;
    font-family: 'Mate SC', serif;
    border: 2px solid black;
}
#rules ul {
    padding: 15px 15px 15px 20px;
    margin: 0px;
}
.crystal {
    height: 100px;
    width: 100px;
}
#random-number {
    background: royalblue;
    font-weight: bold;
    font-size: 30px;
    width: 125px;
    height: 120px;
    padding-top: 45px;
    margin: 0 auto 20px;
}
#wins-losses {
    font-weight: bold;
    background: royalblue;
    width: 125px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto 20px;
}
#total-score {
    background: royalblue;
    width: 200px;
    margin: 20px auto;
    padding: 10px 0px;
}
#score-counter {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    #page-title {
        font-size: 12vw;
        line-height: 1.2;
        text-align: center;
    }
}